body, caption, fieldset, input, legend, option, select, td, textarea, th {
	font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

body {
	background-color: #8e1515;
}

#contenedor {
	max-width: 70em;
	margin: 0 auto;
	min-width: 40em;
}

#papelprnt {
	display: none;
}

@media print {
	body {
		width: 100%;
		margin: 0;
		float: none;
	}
	input, p, td {
		font-size: 10pt;
	}
	h3 {
		font-size: 11pt;
	}
	h2 {
		font-size: 13pt;
	}
	@page {
		size: 210mm 297mm;
		margin: 15mm;
	}
	h2 {
		page-break-inside: avoid;
	}
	#enlaceconv, #imprimircalcubaremo, #papel {
		display: none;
	}
	#papelprnt {
		display: block;
	}
	a.toggleinfo, div.info {
		display: none!important;
	}
	#calcubaremo h2 {
		color: #851123!important;
		border-left: 10px solid #851123!important;
		margin-left: -10px!important;
		border-right: 10px solid #851123!important;
		margin-right: -10px!important;
		border-top: 1px solid #851123!important;
		border-bottom: 1px solid #851123!important;
	}
	#puntuaciontotal input[type=text], h2 span.numseccion {
		color: #851123!important;
	}
	#calcubaremo h3, .totalsec, .totalsec input.inputtotalsec, h3 span.numseccion {
		color: #000!important;
	}
	p.pregunta {
		border-top: 1px solid #ddd!important;
	}
	#calcubaremo div.subseccion input[type=text] {
		border: 0!important;
		border-bottom: 1px solid #ccc!important;
	}
}

#papel, #papelprnt {
	overflow: hidden;
}

#papel p {
	color: #fff;
	font-size: 1.5em;
	padding: 0 1em;
	margin-top: 20px;
	margin-bottom: -10px;
	margin-left: 180px;
}

#papelprnt p {
	color: #222;
	font-size: 1.5em;
	padding: 0 1em;
	margin-top: 20px;
	margin-bottom: -10px;
	margin-left: 180px;
}

#papelprnt #logo {
	width: 160px;
	float: left;
	padding: 0 20px;
	margin: 10px 0;
}

#papel #imgpapel {
	width: 100%;
	margin-bottom: -30px;
}

#papel #logo {
	width: 160px;
	float: left;
	padding: 0 20px;
	margin-bottom: -20px;
}

#calculadora {
	padding: 1em 2em;
	background-color: #fff;
}

#urlcalcubaremo p {
	display: none;
}

#calcubaremo table {
	width: 100%;
}

#calcubaremo div.subseccion {
	width: 90%;
	max-width: 700px;
	margin: 1em auto 2em auto;
}

#calcubaremo div.oculto {
	display: none;
	overflow: hidden;
}

p.pregunta {
	margin-left: 17px;
	border-top: 1px dotted #aaa;
	padding-top: 3px;
}

p.pregunta span.opcionesradio {
	display: block;
	float: right;
	margin-right: 12px;
	margin-left: 12px;
}

span.numseccion {
	font-weight: 900;
	color: #555;
}

span.txtmax {
	color: #dedede;
	font-size: .87em;
	font-style: italic;
	padding-left: .5em;
}

em.txtmax2 {
	line-height: 2.3em;
	color: #666;
	font-variant: small-caps;
	font-size: .95em;
}

h2 span.numseccion {
	color: #eee;
}

#calcubaremo h2 {
	background-color: #888;
	color: #fff;
	padding: 5px 13px 4px 11px;
}

#calcubaremo h3 {
	background-color: #ddd;
	padding: 5px 0 4px 11px;
	color: #555;
}

div.info {
	display: none;
	border: 1px solid #777;
	padding: 8px;
	background-color: #f3f3f3;
	font-size: .9em;
	font-family: Verdana, Helvetica, sans-serif;
	position: absolute;
	z-index: 100;
	-webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .5);
	-moz-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .5);
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .5);
	margin-right: 65px;
	max-width: 55em;
}

div.info p {
	color: #555;
	margin: .3em .6em;
}

div.info li {
	list-style: circle;
}

#calcubaremo div.info table {
	width: 90%;
	margin: 0 auto;
}

#calcubaremo div.info table, #calcubaremo div.info td, #calcubaremo div.info th {
	border: 1px solid #ccc;
	padding: 1px 10px;
}

div.enlacesinfo {
	margin-bottom: .6em;
	padding-top: .5em;
}

a.toggleinfo {
	background-color: #999;
	color: #fff;
	font: italic .9em/.9em "Trebuchet MS", Helvetica, sans-serif;
	padding: 2px 4px;
	cursor: pointer;
	margin-left: .5em;
}

a.toggleinfo:hover {
	color: #ddd;
}

a.toggleinfo.activo {
	background-color: #555;
}

#calcubaremo div.oculto {
	display: none;
	width: 90%;
	max-width: 700px;
	margin: 1em auto 2em auto;
	overflow: hidden;
}

#calcubaremo table {
	margin: 0;
}

#calcubaremo input[type=text] {
	text-align: right;
}

#puntuaciontotal {
	text-align: right;
}

#puntuaciontotal input[type=text] {
	background-color: #888;
	color: #fff;
	font-size: 1.1em;
	border: 0;
	margin-right: .6em;
}

.totalsec {
	float: right;
	color: #fff;
	font-size: .9em;
}

.totalsec input.inputtotalsec {
	background-color: #888;
	color: #fff;
	border: 0;
	margin-right: .2em;
	font-size: 1.1em;
}

.totalsec input.maxsec {
	display: none;
	background-color: #888;
	color: #fff;
	border: 0;
	font-size: .9em;
	font-style: italic;
	font-variant: small-caps;
	margin-right: .5em;
}